# TEAMNAME FSG
# TEAMMEMBERS Frobop Miron

### Interface ###
default_manual_training = true
sort_menus += inv: true : equipped, freshness, identified, basename, qty, qualname, charged
autofight_stop = 70
hp_colour = 70:yellow, 50:lightred, 25:red
show_player_species = true

### Explore ###
show_travel_trail = false
travel_delay = -1
explore_delay = -1
rest_delay = -1

### Console ###
# Fix clouds so they do not look like orcs
display_char += cloud:x2593,cloud_weak:x2592,cloud_fading:x2591

### Pick up ###
autopickup = $?!+"/%|

ae := autopickup_exceptions

ae += staves of.*
ae += ring of.*
ae += amulets of.*

ae += <throwing net
ae += <stone
ae += <javelin
ae += <tomahawk
ae += <immolation

{
local function autopickup(it, name)
    if it.is_useless then
        return false
    end
    if it.artefact then
        return true
    end
    local class  = it.class(true)
    if class == "armour" then
        local good_slots = {cloak="Cloak", helmet="Helmet",
                            gloves="Gloves", boots="Boots"}
        st, _ = it.subtype()
        if good_slots[st] ~= nil and items.equipped_at(good_slots[st]) == nil then
			if good_slots[st] == "Gloves" and you.has_claws() > 0 then return end
			return true
        end
    end
    if class == "missile" then
        if name:find("curare") then
            return true
        end
    end
end

clear_autopickup_funcs()
add_autopickup_func(autopickup)
}

### Autoinscribes ###
autoinscribe += (bad|dangerous)_item.*potion:!q
autoinscribe += (bad|dangerous).*berserk rage:!q
autoinscribe += scroll.*silence:!r
autoinscribe += of faith:!P
autoinscribe += manual of:!d
autoinscribe += (throwing net|curare):=f

### Messages ###
more := force_more_message

more += A sentinel's mark forms upon you
more += You are blasted by holy energy!
more += You are (blasted|electrocuted)!
more += Space warps.*around you
more += Space bends around you
more += (the|[+--]) .* comes into view\.
more += (Blork|Grinder|Prince Ribbit|the Enchantress|the Lernaean hydra|the royal jelly|the Serpent of Hell).*comes into view\.
more += Autopickup deactivated;
more += You are too injured to fight blindly
more += You fall through a shaft

### Colors ###
menu := menu_colour

menu += lightblue:unidentified.*(potion|scroll|wand|jewellery|book).*
menu += lightblue:unidentified.*weapon.*(runed|glowing|enchanted)
menu += lightblue:unidentified.*armour.*(runed|glowing|embroidered|shiny|dyed)
menu += yellow:.*known .*(ring of (slaying|evasion|protection(?! from))|amulet of reflection)

### Spells ###

spell_slot +=Repel missiles:d
spell_slot +=Swiftness:s
spell_slot +=Flight:x
spell_slot +=Apportation:f
spell_slot +=Regeneration:i
spell_slot +=Invisibility:e